{% extends "layouts/adminDefault" %}

{% block script %}

{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        브랜드 관리
        <small>브랜드 정보를 관리 합니다.</small>
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="row col-md-12 col-lg-10">
        <div class="box box-primary">
            <div class="box">
                <div class="box-body">
                    <!-- 등록 현황 Grid -->
                    <table id="app-board-grid" class="display table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:100px">NO</th>
                            <th style="width:250px">브랜드명</th>
                            <th style="width:250px">회사명</th>
                            <th style="width:100px">상태</th>
                            <th style="width:250px">수정일</th>
                            <th style="width:250px">등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for brand in brands %}
                        <tr>
                            <td>{{brand.brandId}}</td>
                            <td>{{brand.brandName}}</td>
                            <td>{{brand.companyId}}</td>
                            <td>{{brand.status}}</td>
                            <td>{{brand.updDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                            <td>{{brand.crtDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}