{% extends "layouts/adminDefault" %}

{% block script %}
{% include "admin/search/common/srchDataTable" %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        카테고리 관리
        <small>카테고리 정보를 관리 합니다.</small>
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="row col-md-12 col-lg-10">
        <div class="box box-primary">
            <div class="card">
                <div class="card-body">
                    <!-- 등록 현황 Grid -->
                    <table id="app-board-grid" class="display table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:100px">NO</th>
                            <th style="width:120px">카테고리명</th>
                            <th style="width:200px">카테고리 설명</th>
                            <th style="width:100px">상태</th>
                            <th style="width:250px">수정일</th>
                            <th style="width:250px; align-content: center">등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cate in categories %}
                        <tr>
                            <td>{{cate.categoryId}}</td>
                            <td>{{cate.categoryName}}</td>
                            <td>{{cate.categoryDesc}}</td>
                            <td>{{cate.status}}</td>
                            <td>{{cate.updDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                            <td>{{cate.crtDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}