{% extends "layouts/adminDefault" %}

{% block script %}
{% include "admin/search/common/srchDataTable" %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        회사 관리
        <small>회사 정보를 관리 합니다.</small>
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="row col-md-12 col-lg-10">
        <div class="box box-primary">
            <div class="card">
                <div class="card-body">
                    <!-- 등록 현황 Grid -->
                    <table id="app-board-grid" class="display table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>회사 명</th>
                            <th>상태</th>
                            <th>수정일</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for com in compines %}
                        <tr>
                            <td>{{com.companyId}}</td>
                            <td>{{com.companyName}}</td>
                            <td>{{com.status}}</td>
                            <td>{{com.updDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                            <td>{{com.crtDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}