{% extends "layouts/adminDefault" %}

{% block script %}
{% include "admin/search/common/srchDataTable" %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        상품 관리
        <small>상품 정보를 관리 합니다.</small>
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="row col-md-12 col-lg-10">
        <div class="box box-primary">
            <div class="card">
                <div class="card-body">
                    <!-- 등록 현황 Grid -->
                    <table id="app-board-grid" class="display table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>상품명</th>
                            <th>브랜드명</th>
                            <th>카테고리명</th>
                            <th>회사명</th>
                            <th>판매가격</th>
                            <th>수정일</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in adminProducts %}
                        <tr>
                            <td>{{product.productId}}</td>
                            <td>{{product.productName}}</td>
                            <td>{{product.brandName}}</td>
                            <td>{{product.categoryDesc}}</td>
                            <td>{{product.companyName}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.updDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                            <td>{{product.crtDt | date("yyyy-MM-dd HH:mm:ss")}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}